body {
  background-color: #fefefe;
}

body::-webkit-scrollbar,
.responsive-table::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar-track,
.responsive-table::-webkit-scrollbar-track {
  background: #dddd;
}

body::-webkit-scrollbar-thumb,
.responsive-table::-webkit-scrollbar-thumb {
  background-color: #7777;
  border-radius: 2rem;
  border: 2px solid #5555;
}

#title-leaderboard {
  font-size: 48px;
}

table {
  cursor: pointer;
}

table tr:hover {
  opacity: 50%;
}

.responsive-table {
  min-height: 320px;
  max-height: 320px;
  overflow-y: scroll;
}